In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics
from sklearn.linear_model import LinearRegression

## Import Data

In [2]:
carData = pd.read_csv('SG_usedcar.csv')
carData.head()

,Brand,Type,Reg_date,Coe_left,Dep,Mileage,Road Tax,Dereg Value,COE,Engine Cap,Curb Weight,Manufactured,Transmission,OMV,ARF,Power,No. of Owners,Price
0,BMW 5 Series 520i Highline,Luxury Sedan,28-May-13,1yr 11mths 21days COE left),15920,N.A,1210,38133,67304,1997,1610,2013,Auto,41566,45193,135,1,54000
1,Honda Vezel 1.5A X Honda Sensing,SUV,14-Oct-15,4yrs 4mths 7days COE left),10310,50000,682,31237,56001,1496,1190,2015,Auto,19775,9775,96,2,49800
2,MINI One 1.6A (New 10-yr COE),Hatchback,7-Oct-11,10yrs COE left),6280,110000,742,N.A,N.A,1598,1100,2011,Auto,18180,18180,72,3,62800
3,Hyundai Avante 1.6A (COE till 02/2029),Mid-Sized Sedan,12-Feb-09,7yrs 8mths 5days COE left),N.A,N.A,959,N.A,25727,1591,1264,2009,Auto,10763,10763,89,3,N.A
4,Suzuki Swift Sport 1.6M (COE till 12/2022),Hatchback,28-Dec-07,1yr 6mths 21days COE left),8210,203000,1030,6656,21349,1586,1060,2007,Manual,12154,13370,92,2,12800

In [3]:
carData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4396 entries, 0 to 4395
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Brand          4396 non-null   object
 1   Type           4396 non-null   object
 2   Reg_date       4396 non-null   object
 3   Coe_left       4388 non-null   object
 4   Dep            4396 non-null   object
 5   Mileage        4396 non-null   object
 6   Road Tax       4396 non-null   object
 7   Dereg Value    4396 non-null   object
 8   COE            4396 non-null   object
 9   Engine Cap     4396 non-null   object
 10  Curb Weight    4396 non-null   object
 11  Manufactured   4396 non-null   object
 12  Transmission   4396 non-null   object
 13  OMV            4396 non-null   object
 14  ARF            4396 non-null   object
 15  Power          4396 non-null   object
 16  No. of Owners  4396 non-null   object
 17  Price          4396 non-null   object
dtypes: object(18)
memory usage: 618.3+ KB

## Change N.A to nan

In [4]:
carData = carData.replace('N.A',np.nan)
carData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4396 entries, 0 to 4395
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Brand          4396 non-null   object
 1   Type           4396 non-null   object
 2   Reg_date       4396 non-null   object
 3   Coe_left       4388 non-null   object
 4   Dep            3688 non-null   object
 5   Mileage        2840 non-null   object
 6   Road Tax       3968 non-null   object
 7   Dereg Value    3446 non-null   object
 8   COE            4138 non-null   object
 9   Engine Cap     4393 non-null   object
 10  Curb Weight    4330 non-null   object
 11  Manufactured   4391 non-null   object
 12  Transmission   4396 non-null   object
 13  OMV            3978 non-null   object
 14  ARF            4393 non-null   object
 15  Power          4388 non-null   object
 16  No. of Owners  4339 non-null   object
 17  Price          3676 non-null   object
dtypes: object(18)
memory usage: 618.3+ KB

## Removing missing values

In [5]:
carData.dropna(subset=['Price'], inplace=True)
carData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3676 entries, 0 to 4395
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Brand          3676 non-null   object
 1   Type           3676 non-null   object
 2   Reg_date       3676 non-null   object
 3   Coe_left       3670 non-null   object
 4   Dep            3676 non-null   object
 5   Mileage        2830 non-null   object
 6   Road Tax       3280 non-null   object
 7   Dereg Value    3434 non-null   object
 8   COE            3446 non-null   object
 9   Engine Cap     3673 non-null   object
 10  Curb Weight    3616 non-null   object
 11  Manufactured   3671 non-null   object
 12  Transmission   3676 non-null   object
 13  OMV            3288 non-null   object
 14  ARF            3673 non-null   object
 15  Power          3669 non-null   object
 16  No. of Owners  3627 non-null   object
 17  Price          3676 non-null   object
dtypes: object(18)
memory usage: 545.7+ KB

In [6]:
carData.fillna(0, inplace=True)
carData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3676 entries, 0 to 4395
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Brand          3676 non-null   object
 1   Type           3676 non-null   object
 2   Reg_date       3676 non-null   object
 3   Coe_left       3676 non-null   object
 4   Dep            3676 non-null   object
 5   Mileage        3676 non-null   object
 6   Road Tax       3676 non-null   object
 7   Dereg Value    3676 non-null   object
 8   COE            3676 non-null   object
 9   Engine Cap     3676 non-null   object
 10  Curb Weight    3676 non-null   object
 11  Manufactured   3676 non-null   object
 12  Transmission   3676 non-null   object
 13  OMV            3676 non-null   object
 14  ARF            3676 non-null   object
 15  Power          3676 non-null   object
 16  No. of Owners  3676 non-null   object
 17  Price          3676 non-null   object
dtypes: object(18)
memory usage: 545.7+ KB

In [7]:
convert_dict = {'Mileage': 'int64','Road Tax': 'int64','COE': 'int64','OMV': 'int64','ARF': 'int64', 'Manufactured': 'int64','No. of Owners': 'int64','Price': 'int64','Dereg Value':'int64','Engine Cap':'int64','Curb Weight':'int64','Power':'int64','Type':'category'}

In [8]:
carData = carData.astype(convert_dict)
carData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3676 entries, 0 to 4395
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Brand          3676 non-null   object
 1   Type           3676 non-null   category
 2   Reg_date       3676 non-null   object
 3   Coe_left       3676 non-null   object
 4   Dep            3676 non-null   object
 5   Mileage        3676 non-null   int64
 6   Road Tax       3676 non-null   int64
 7   Dereg Value    3676 non-null   int64
 8   COE            3676 non-null   int64
 9   Engine Cap     3676 non-null   int64
 10  Curb Weight    3676 non-null   int64
 11  Manufactured   3676 non-null   int64
 12  Transmission   3676 non-null   object
 13  OMV            3676 non-null   int64
 14  ARF            3676 non-null   int64
 15  Power          3676 non-null   int64
 16  No. of Owners  3676 non-null   int64
 17  Price          3676 non-null   int64
dtypes: category(1), int64(12), object(5)
memory usage: 520.9+ KB